h1{ /*select all h1 tag in the ejs file*/
    color: red; /*change text color to red*/
} /*close the declaration block*/
.completed{ /*target any item with a class of completed*/
    color: gray; /*change text color to gray*/
    text-decoration: line-through; /*apply strikethrough style to the text*/
} /*close the declaration block*/